<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

        <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLongTitle">{{recipeEntry.name}}</h5>
            <input type="hidden" id="recipeId" value="{{recipeEntry.id}}">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                <span aria-hidden="true">&times;</span>

            </button>

        </div>

        <div class="modal-body">


            <table class="table table-hover">

                <thead>

                    <tr>
                        <th scope="col">Ingredients</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Units</th>
                    </tr>

                </thead>

                <tbody class='editRecipeInput'>
                    {{#each ingredients}}
                    <tr class='addRecipeEdit'>
                        <td class='ingredientName'>{{Ingredient.name}}</td>
                        <td><input class="editRecipeQuantityInput form-control" type="text" value='{{quantity}}'></td>
                        <td>
                            <div class="form-group">
                                <select class="editRecipeMeasurementSelector form-control"
                                    id="exampleFormControlSelect1">
                                    {{#select measurement_unit}}
                                    <option>Each</option>
                                    <option>Ounces</option>
                                    <option>Pounds</option>
                                    <option>Cups</option>
                                    <option>Fl. Ounces</option>
                                    {{/select}}
                                </select>
                            </div>
                            <input class="ingredientId form-control" type="hidden" value='{{IngredientId}}'>
                        </td>
                        <td><button onclick="removeIngredient(this, {{RecipeId}}, {{IngredientId}}); return false;"
                                type="button" class="removeIngredientButton btn btn-outline-danger">x</button></td>
                    </tr>
                    {{/each}}

                </tbody>

            </table>

        </div>

        <div class="modal-footer">


            <button type="button" onclick="addIngredient(); return false;" id='addIngredientButton' class="btn btn-outline-secondary">Add Ingredient</button>

            <button type="button" onclick="saveRecipeChanges(); return false;" id='saveRecipeChangesButton' class="btn btn-outline-secondary">Save
                changes</button>

            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>


        </div>

    </div>

</div>

<script>

    

</script>