<script>

    function removeRowUsingButton(button) {
        $.ajax('/recipe-edit/:id', {

            type: 'DELETE'

        }).done(function () {

            console.log('Item Was Deleted');
            $(button).parent().parent().remove();

        });
    }

    $(function () {

    let newIngredientRow =
        `<tr class='addRecipeEdit'>
                    <td><input class="ingredientName form-control" type="text" value='Name'></td>
                    <td><input class="editRecipeQuantityInput form-control" type="text" value='#'></td>
                    <td>
                        <div class="form-group">
                            <select class="editRecipeMeasurementSelector form-control" id="exampleFormControlSelect1">
                                <option>Each</option>
                                <option>Ounces</option>
                                <option>Pounds</option>
                                <option>Cups</option>
                                <option>Fl. Ounces</option>
                            </select>
                        </div>
                    </td>
                    <td><button onclick="removeRowUsingButton(this); return false;" type="button" class="removeIngredientButton btn btn-outline-danger">x</button></td>                
        </tr>`



    $('#saveRecipeChangesButton').on('click', function () {

        let recipeId = $('#recipeId').val();
        let newRecipeIngredientList = [];
        $('.addRecipeEdit').each(function () {
            let ingredientName = $(this).find('.ingredientName').text();
            let ingredientId = $(this).find('.ingredientId').val();
            let editRecipeQuantity = $(this).find('.editRecipeQuantityInput').val().trim().toLowerCase();
            let editRecipeMeasurement = $(this).find('.editRecipeMeasurementSelector').val().trim().toLowerCase();
            let recipeEditDetails = {

                item_name: ingredientName,
                item_quantity: editRecipeQuantity,
                measurement_unit: editRecipeMeasurement,
                ingredient_id: ingredientId

            };
            newRecipeIngredientList.push(recipeEditDetails);
        });

        let recipeEditData = {
            recipe_id: recipeId,
            items: newRecipeIngredientList

        };

        console.log(recipeEditData);

        $.ajax('recipe-edit/' + recipeId, {

            type: 'PUT',
            data: recipeEditData


        }).done(function () {

            alert('You Have Edited Your Recipe!!');

        });

    });


    $('#addIngredientButton').on('click', function () {

        console.log('here');
        $('.editRecipeInput').append(newIngredientRow);

    });

    });


</script>


<div class="modal-content">

    <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLongTitle">{{recipeEntry.name}}</h5>
        <input type="hidden" id="recipeId" value="{{recipeEntry.id}}">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>

        </button>

    </div>

    <div class="modal-body">


        <table class="table table-hover">

            <thead>

                <tr>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Units</th>
                </tr>

            </thead>

            <tbody class='editRecipeInput'>
                {{#each ingredients}}
                <tr class='addRecipeEdit'>
                    <td class='ingredientName'>{{Ingredient.name}}</td>
                    <td><input class="editRecipeQuantityInput form-control" type="text" value='{{quantity}}'></td>
                    <td>
                        <div class="form-group">
                            <select class="editRecipeMeasurementSelector form-control" id="exampleFormControlSelect1">
                                {{#select measurement_unit}}
                                <option>Each</option>
                                <option>Ounces</option>
                                <option>Pounds</option>
                                <option>Cups</option>
                                <option>Fl. Ounces</option>
                                {{/select}}
                            </select>
                        </div>
                        <input class="ingredientId form-control" type="hidden" value='{{IngredientId}}'>
                    </td>
                    <td><button onclick="removeRowUsingButton(this, {{id}}); return false;" type="button" class="removeIngredientButton btn btn-outline-danger">x</button></td>                
                </tr>
                {{/each}}

            </tbody>

        </table>

    </div>

    <div class="modal-footer">


        <button type="button" id='addIngredientButton' class="btn btn-outline-secondary">Add Ingredient</button>

        <button type="button" id='saveRecipeChangesButton' class="btn btn-outline-secondary">Save changes</button>

        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>


    </div>

</div>